#search-box {
	width:100%;
}
#search-container {
	padding-top: 1em;
}
.search-switcher {
	padding: 0 0.5em;
}
.web-result {
	border-bottom: 1px solid #bbb;
}
.web-abstract {
	font-size: 0.8em;
}
.video-container {
	display: inline-block;
	padding-bottom: 1em
}
.video-thumbnail {
	max-width: 100%;
	display: inline-block;
}
.video-description {
	display: inline-block;
}
